.mySwiper2 {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .iframe-youtube-sliving {
    width: 100% !important;
    height: 100% !important;
    max-width: 840px;
  }
  .react-player__preview {
    min-height: 480px;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 767px) {
  .container-swiper-thumb {
    .wrap-item {
      width: 90% !important;
    }
  }
  .mySwiper2 {
    .react-player__preview {
      min-height: 200px;
    }
  }
}
