///=========================Section Header
.section-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .smart-parking-v3-header{
        margin-bottom: 60px;
        width: 100%;
        max-width: 1920px;
        position: relative;
        // padding: clamp( 40px, 15vw, 250px) clamp( 20px, 20vw, 370px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: clamp( 560px, 60vw, 844px);
        overflow: hidden;
        .back-ground{
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            max-height: 844px;
            min-height: 560px;
            .back-ground__img{
                mask-image: linear-gradient(
                    to bottom,
                    rgba(64, 64, 64, 1) 0%,
                    rgba(64, 64, 64, 0.75) 60%,
                    rgba(64, 64, 64, 0) 100%,
                );
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, #32D7D4 0%, rgba(8, 156, 234, 0.65) 55.41%, rgba(8, 156, 234, 0.1) 85.6%, rgba(255, 255, 255, 0) 100%);
                opacity: 1;
            }
        }
        .smart-parking-header{
            width: clamp( 420px, 100%, 1180px);
            padding: 40px 20px;
            .smart-parking-content{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                & > *{
                    max-height: 343px;
                }
                .content-left{
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .content-left-title{
                        font-family: 'SVN Gilroy';
                        font-style: normal;
                        font-weight: 800;
                        font-size: clamp( 32px, 4vw, 62px);
                        line-height: 72px;
                        letter-spacing: 1px;
                        color: #FFFFFF;
                    }
                    .content-left-text{
                        font-family: 'SVN Gilroy';
                        font-style: normal;
                        font-weight: 700;
                        font-size: clamp( 14px, 1vw, 16px);
                        line-height: 24px;
                        color: #FFFFFF;
                    }
                }
                .content-right{
                    width: clamp(180px, 25vw, 400px);
                    .content-right__img{
                        color: #C4C4C4;
                        width: 100%;
                    }
                }
            }
        }
    }
}

///=========================End Section Header
///=========================Begin Section Smart Parking
.smart-parking-definition-v3 {
    width: 100%;
    height: 624px;
    display: flex;
    flex-direction: column;
  
    .content {
      max-width: 1180px;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
  
      .left-content {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 16px;
  
        .left-content-title {
          height: 100%;
          max-height: 32px;
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
          color: #0979fd;
        }
  
        .left-all-description-container {
          display: flex;
          flex-direction: column;
          border: 1px solid #6fc0fe;
          border-radius: 16px;
          width: 100%;
        }
  
        .left-all-description {
          max-height: 288px;
          padding: 32px 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 16px;
  
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
          color: #454647;
  
          .web-content-desc {
            display: flex;
          }
  
          .mobile-content-desc {
            display: none;
          }
        }
      }
  
      .right-content {
        display: flex;
  
        .right-content-container {
          height: fit-content;
          width: 100%;
          max-width: 558px;
          align-self: flex-end;
          display: flex;
          flex-wrap: wrap;
          row-gap: 94px;
        }
  
        .right-icon-item {
          max-width: 186px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          row-gap: 16px;
  
          .icon-item-title {
            font-family: "SVN Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #454647;
          }
        }
      }
    }
}
///=========================End Section Smart Parking
///=========================Section Solution
.section-parking-solution{
    border-top: 1px solid #F2F3F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    .parking-solution-container{
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: clamp(40px, 3.125vw, 60px);
        max-width: 1180px;
        .content{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 14px;
            .title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                text-align: center;
                color: #2C2D2E;
            }
            .sub-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.22em;
                color: #0979FD;
            }
            .underline{
                width: 88px;
                height: 4px;
                background: linear-gradient(90deg, #5A20FF 0%, #00E0C5 100%);
                border-radius: 200px;
            }
        }
        .solution-item-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1180px;
            gap: clamp(40px, 3.125vw, 60px);
            padding: 20px;
            .solution-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                color: #0979FD;
            }
            .solution-content{
                height: 184px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: clamp(38px, 2.7vw, 50px);
                .content-container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .img{
                        width: clamp(60px, 4.4vw, 80px);
                        height: clamp(60px, 4.4vw, 80px);
                    }
                    .icon-active{
                        width: 34%;
                        height: 80%;
                        position: relative;
                        transition: all 0.8s;
                        .content{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            min-height: 144px;
                            padding: clamp(18px, 1.25vw, 24px) clamp(30px, 2.1vw, 40px);
                            gap: 16px;
                            background: #FFFFFF;
                            box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
                            border-radius: 16px;
                            .content-title{
                                font-family: 'SVN-Gilroy';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 21px;
                                line-height: 32px;
                                text-align: center;
                                color: #0979FD;
                            }
                            .content-text{
                                font-family: 'SVN-Gilroy';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                color: #454647;
                            }
                        }
                        .icon{
                            width: clamp(60px, 4.4vw, 80px);
                            height: clamp(60px, 4.4vw, 80px);
                            position: absolute;
                            bottom: calc(100% - clamp(38px, 2.75vw, 50px));
                            right   : calc(100% - clamp(38px, 2.75vw, 50px));
                        }
                    }
                    .mobile-item{
                        display: flex;
                        flex-direction: column;
                        .img{
                            width: clamp(80px, 4.4vw, 80px);
                            height: clamp(80px, 4.4vw, 80px);
                        }
                    }
                }
                .content-container.mobile{
                    display: none;
                    .content{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 24px 40px;
                        gap: 16px;
                        background: #FFFFFF;
                        .content-title{
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 21px;
                            line-height: 32px;
                            text-align: center;
                            color: #0979FD;
                        }
                        .content-text{
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: #454647;
                        }
                    }
                }
            }
            .solution-button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 8px 34px;
                gap: 10px;
                width: 184px;
                height: 40px;
                background: linear-gradient(91.86deg, #0091EF 1.57%, #32D7D4 104.54%);
                border-radius: 68px;
                .button-text{
                    width: 91px;
                    height: 24px;
                    font-family: 'SVN-Gilroy';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}
///=========================End Section Solution
///=========================
.section-parking-system{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .parking-system-container{
        padding: 0px 20px;
        width: clamp(0px, 100%, 1180px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(40px, 3.125vw, 60px);
        margin-bottom: 800px;
        .header{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 14px;
            .title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                text-align: center;
                color: #2C2D2E;
            }
            .sub-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.22em;
                color: #0979FD;
            }
            .underline{
                width: 88px;
                height: 4px;
                background: linear-gradient(90deg, #5A20FF 0%, #00E0C5 100%);
                border-radius: 200px;
            }
        }
        .software{
            width: 100%;
            gap: clamp(18px, 1.25vw, 24px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .software-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 128px;
                background: #F3F9FF;
                border-radius: 16px;
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: clamp(22px, 1.46vw, 28px);
                text-align: center;
                color: #0979FD;
            }
            .software-content{
                gap: clamp(40px, 3.125vw, 60px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .option-list{
                    height: 58px;
                    display: flex;
                    width: 100%;
                    gap: 60px;
                    .option{
                        height: 100%;
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .text{
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 21px;
                            color: #76787A;
                        }
                        .text.active{
                            color: #0979FD;
                        }
                        .underline{
                            height: 4px;
                            width: 100%;
                            background: #0979FD;
                            border-radius: 100px;
                            display: none;
                        }
                        .underline.active{
                            display: block;
                        }
                    }
                }
                .content-container{
                    gap: clamp(40px, 3.125vw, 60px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .content{
                        width: 100%;
                        height: 312px;
                        padding: clamp(37px, 2.45vw, 47px) calc(clamp(37px, 2.45vw, 47px) + clamp(30px, 1.825vw, 35px));
                        border: 1px solid #6FC0FE;
                        box-shadow: 0px 3px 8px 1px rgba(112, 144, 176, 0.15);
                        border-radius: 16px;
                        align-items: center;
                        justify-content: center;
                        .content-title{
                            position: relative;
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 32px;
                            display: flex;
                            align-items: center;
                            color: #2C2D2E;
                            height: 30%;
                        }
                        .content-text{
                            height: 70%;
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #454647;
                            display: flex;
                            flex-direction: column;
                            gap: 1px;
                        }
                        .content-img{
                            position: absolute;
                            width: clamp(60px, 3.65vw, 70px);
                            right: calc(100% - clamp(30px, 1.825vw, 35px));
                            z-index: -1;
                        }
                    }
                }
            }
        }
        .hardware{
            width: 100%;
            gap: clamp(18px, 1.25vw, 24px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hardware-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 128px;
                background: #F3F9FF;
                border-radius: 16px;
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: clamp(22px, 1.46vw, 28px);
                text-align: center;
                color: #0979FD;
            }
            .item-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: clamp(40px, 3.125vw, 60px);
                width: 100%;
                .title{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: clamp(14px, 0.84vw, 16px);
                    .text{
                        font-family: 'SVN-Gilroy';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 28px;
                        display: flex;
                        align-items: center;
                        color: #2C2D2E;
                    }
                    .underline{
                        width: 120px;
                        height: 4px;
                        background: #0979FD;
                        border-radius: 10px;
                    }
                }
                .item-content{
                    width: 100%;
                    gap: clamp(40px, 3.125vw, 60px);
                    display: flex;
                    justify-content: center;
                    height: 360px;
                    align-items: center;
                    .content-left{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .content-right{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                        align-items: center;
                        .content-right-title{
                            width: 100%;
                            display: flex;
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 21px;
                            display: flex;
                            align-items: center;
                            color: #0979FD;
                        }
                        .content-right-desc{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .desc-text{
                                font-family: 'SVN-Gilroy';
                                font-style: normal;
                                font-weight: 500;
                                font-size: clamp(14px, 0.83vw, 16px);
                                color: #454647;
                            }
                        }
                        .attribute-list{
                            width: 100%;
                            display: flex;
                            padding: 12px 0px;
                            .attribute-left{
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                .attribute-left-title{
                                    font-family: 'SVN-Gilroy';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: clamp(14px, 0.83vw, 16px);
                                    line-height: 24px;
                                    display: flex;
                                    align-items: center;
                                    color: #454647;
                                }
                            }
                            .middle-text{
                                padding: 0px 16px;
                            }
                            .attribute-right{
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                .attribute-right-content{
                                    display: flex;
                                    padding: 0px 16px;
                                    gap: 16px;
                                    .text{
                                        font-family: 'SVN-Gilroy';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: clamp(14px, 0.83vw, 16px);
                                        line-height: 24px;
                                        display: flex;
                                        align-items: center;
                                        color: #454647;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
///=========================Responsive
///Section Header
@media(max-width:900px){
    .section-header{
        .smart-parking-v3-header{
            background-image: linear-gradient(180deg, #32D7D4 0%, rgba(8, 156, 234, 0.65) 55.41%, rgba(8, 156, 234, 0.1) 85.6%, rgba(255, 255, 255, 0) 100%);
            .back-ground{   
                .back-ground__img{
                    position: absolute;
                    min-height: 360px;
                    top:35%;
                }
                &::after {
                    opacity: 1;
                }
            }
            .smart-parking-header{
                .smart-parking-content{
                    flex-direction: column;
                    gap: 32px;
                    .content-left{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .content-left-title{
                            text-align: center;
                            align-items: center;
                        }
                        .content-left-text{
                            text-align: center;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}
//Section Solution
@media(max-width: 800px){
    .section-parking-solution{
        .parking-solution-container{
            .solution-item-container{
                .solution-title{
                    text-align: center;
                }
                .solution-content{
                    height: fit-content;
                    .content-container{
                        display: none;
                    }
                    .content-container.mobile{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .solution-button{
                    width: 100%;
                    height: 48px;
                    .button-text{
                        width: 91px;
                        height: 24px;
                        font-family: 'SVN-Gilroy';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}