.left-page {
    margin-top: 54px;
  
    .text-title-middle {
      font-weight: bold;
      font-size: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.25px;
      color: #f9f9f9;
      width: 429px;
      margin-left: 104px;
      margin-top: -183px;
      margin-bottom: 141px;
    }
  
    .time-post-name {
      font-size: 16px;
      color: #5c5c5c;
      line-height: 24px;
    }
  
    .time-post-date {
      font-size: 16px;
      color: #adadad;
    }
  
    .text-title {
      font-size: 48px;
      display: flex;
      font-weight: bold;
      color: #5c5c5c;
      align-items: center;
      letter-spacing: -1px;
      margin-top: 14px;
    }
  
    .image-header {
      margin-top: 51px;
    }
  
    .list-item {
      margin-top: 54px;
  
      .text-title-number {
        font-size: 48px;
        display: flex;
        font-weight: bold;
        color: #5c5c5c;
        align-items: center;
        letter-spacing: -1px;
        margin: 0px;
      }
  
      .text-small-title {
        font-weight: bold;
        color: #5c5c5c;
        margin: 0px;
      }
  
      .text-description {
        color: #5c5c5c;
        margin: 0px;
        font-size: 16px;
      }
  
      .text-bottom {
        margin-bottom: 0px;
      }
  
      .video-play {
        position: relative;
        &:hover {
          .Icon-Play {
            visibility: visible;
          }
        }
  
        .Icon-Play {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 0;
          width: 50px;
          cursor: pointer;
          visibility: hidden;
        }
  
        .Image-Video {
          margin-top: 32px;
          margin-bottom: 54px;
        }
      }
  
      .video-play:hover .Icon-Play {
        cursor: pointer;
      }
  
      .Icon-Play:focus {
        outline: 0;
      }
    }
  }
  
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  
  .modal-backdrop .fade .in {
    opacity: 0.5 !important;
  }
  
  .modal-backdrop.fade {
    opacity: 0.5 !important;
  }
  
  //=============================================== news
  
  .card-text-smart-home {
    color: #5c5c5c;
    font-weight: bold;
    font-size: 32px;
  }
  
  .news-small-card {
    width: 100%;
    max-width: 470px;
    height: 152px;
    left: calc(50% - 470px / 2 + 349px);
    top: 244px;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 8px 0px;
  
    .text-day {
      font-size: 14px;
      color: #adadad;
      margin-top: 15px;
    }
  
    .text-description {
      font-weight: bold;
      color: #5c5c5c;
      display: flex;
      font-size: 16px;
    }
  
    .col-7 {
      padding: none;
    }
  
    .col-5 {
      padding-right: 0px;
    }
  }
  
  .news-slider {
    .slick-list {
      margin-left: 0 !important;
    }
  
    .video-cover {
      object-fit: cover;
      max-width: 176px;
      left: 16px;
      margin-top: 16px;
      width: 100%;
    }
  
    .slick-track {
      height: auto !important;
    }
  
    .play-btn-orange {
      position: absolute;
      max-width: 24px;
      width: 100%;
      height: 24px;
      left: 16px;
      top: 103px;
      cursor: pointer;
    }
  }
  
  .right-page {
    margin-top: 54px;
  
    .text-title-news {
      margin: 0px;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      display: flex;
      align-items: center;
      letter-spacing: -0.5px;
      color: #5c5c5c;
    }
  }
  
  .intro-reason-content {
      margin-bottom: 54px;
      .hp-banner {
      background-image: url("../../images/introduction-page/Jobs.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 101px;
      padding-bottom: 183px;
      .hp-banner-wrap {
        padding-top: 0;
        padding-bottom: 0;
          .hp-banner-title{
              h4{
                  font-size: 32px;
                  line-height: 40px;
                  letter-spacing: -0.5px;
                  font-weight: 700;
              }
          }
          .hp-banner-btn{
              margin-top: 32px;
          }
      }
    }
  }
  
  .intro-content-bottom{
      margin-bottom: 99px;
  }
  
  .modal-introduct{
      .modal-close-btn{
          right: 12px;
      }
  }