@import "./../../style/abstracts/variables";
.contentDetail{
    margin-top: 100px;
    h1{
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-weight: $bold-text;
        color: $blue-text;
    }
    &>div{
        padding: 20px 0;
        border-top: solid gray;
        border-bottom: solid gray;
        h5{
            font-weight: $bold-text;
            color: $blue-text;
        }
        text-align: justify;
        div{
            text-align: center;
            img{
                width: 700px;
                margin-bottom: 2rem;
            }
        }
    }
}