.introduction-page {
    padding-bottom: 95px;

    .section-introduction__header {
        background-image : url('../../images/introduction-page/section-header.svg');
        background-size  : cover;
        background-repeat: no-repeat;
        max-width        : 1440px;
        max-height       : 560px;
        width            : 100%;
        height           : 100%;
        margin           : auto;

        .section-introduction-wrap {
            padding-top   : 154px;
            padding-bottom: 16px;
            max-width     : 448px;
            width         : 100%;
            font-weight   : 700;

            .introduction-title {
                display       : grid;
                max-width     : 370px;
                width         : 100%;
                line-height   : 56px;
                letter-spacing: -1px;
            }

            .introduction-description {
                color         : #858585;
                line-height   : 26px;
                letter-spacing: 0.2px;
                margin-top    : 8px;
                font-weight   : bold;
            }
        }
    }

    .section-introduction__article {
        max-width: 1440px;
        width    : 100%;
        margin   : auto;

        .introduction__article-wrap {
            padding-top   : 144px;
            padding-bottom: 144px;
            margin-left   : 103px;
            margin-right  : 135px;

            .article-wrap__group {
                .article-wrap__group-left {
                    max-width : 698px;
                    max-height: 472px;
                    width     : 100%;
                    height    : 100%;

                    img {
                        width     : 100%;
                        height    : 100%;
                        object-fit: cover;
                    }
                }

                .article-wrap__group-right {
                    align-self : center;
                    margin-left: 34px;
                    max-width  : 469px;
                    width      : 100%;
                }
            }
        }
    }

    .section-introduction__slide {
        .section-introduction__slide-wrap {
            max-width: 1440px;
            width    : 100%;
            margin   : auto;

            ol.carousel-indicators {
                right : 134px;
                bottom: 24px;
            }
        }

        .slide-img {
            max-width : 1440px;
            max-height: 387px;
            width     : 100%;
            height    : 100%;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }
    }
}

.article-description {
    color: #858585;
}

.button-more {
    .btn-about-prod {
        width    : 100%;
        max-width: 211px;
    }
}