@font-face {
    font-family: "SvnGilroy";
    src: local("SvnGilroy"), url("../../fonts/svn-gilroy/SVN-Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SvnGilroy";
    src: local("SvnGilroy"), url("../../fonts/svn-gilroy/SVN-Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --bs-font-sans-serif: "SvnGilroy", sans-serif;
}
*, html{
    font-family: inherit;
}