@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../../fonts/Montserrat/Montserrat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Montserrat';
}
