.section-solution-box {
  background-color: white;
  padding: 120px 0px;
  .check-valid {
    font-size: 14px;
    color: red;
    position: absolute;
    bottom: -25px;
    left: 0px;
    opacity: 0;
  }
  .invalid {
    opacity: 1;
  }
  .solution-container {
    max-width: 920px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .advise-now-btn {
      min-width: 208px;
      min-height: 40px;
      background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      border-radius: 68px;
      justify-self: center;
      border: none;
      &:hover {
        box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
          0px 8px 8px -4px rgba(24, 39, 75, 0.08);
      }
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }

    .disable{
      background: #aaaeb3;
      &:hover{
        box-shadow: none;
      }
    }
  }
  width: 100%;
  .title-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
      font-family: "SVN Gilroy";
      font-weight: 700;
      font-size: 16px;
      line-height: 133%;
      text-align: center;
      letter-spacing: 0.22em;
      color: #0979fd;
    }
    .title {
      font-family: "SVN Gilroy";
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      text-transform: capitalize;
      color: #2c2d2e;
      margin: 14px 0;
    }
    .item-border {
      width: 88px;
      height: 4px;
      background: linear-gradient(90deg, #5a20ff 0%, #00e0c5 100%);
      border-radius: 2px;
    }
  }
  .list-house-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .add-house {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(12px, 3.2vw, 16px);
    .type-box {
      height: 80px;
      width: 100%;
      position: relative;

      .name {
        font-family: "SVN Gilroy";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #2c2d2e;
        margin-bottom: 8px;
      }
      .drop-box {
        transition: 0.2s;
        position: absolute;
        opacity: 0;
        left: 0px;
        top: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
        gap: 8px;
        width: 265px;
        height: 0;
        overflow: hidden;
        background: #ffffff;
        border: 1px solid #aaaeb3;
        border-radius: 8px;
        width: 100%;
        justify-content: space-between;
        .option {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 4px 0px 4px 12px;
          width: 100%;
          height: 32px;
          border-radius: 4px;
          font-family: "SVN Gilroy";
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #454647;
        }
        .active {
          color: #2391fd;
          background: #f3f9ff;
        }
      }
      .drop {
        padding: 12px;
        height: 216px;
        opacity: 1;
        transition: 0.2s;
      }
      .selection-box {
        z-index: 10;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 14px;
        gap: 8px;
        width: 100%;
        height: 48px;
        background: #ffffff;
        border: 1px solid #aaaeb3;
        border-radius: 8px;
        justify-content: space-between;
        .main-selection {
          font-family: "SVN Gilroy";
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #aaaeb3;
        }
        .done {
          color: #454647;
        }
      }
    }
    .quantity-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      height: 80px;
      position: relative;
      max-width: 286px;
      .name {
        font-family: "SVN Gilroy";
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #2c2d2e;
        margin-bottom: 8px;
      }
      .input-box {
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: space-between;
        .quantity-input {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          padding: 12px 14px;
          max-width: clamp(80px, 21.3vw, 120px);
          height: 48px;
          background: #ffffff;
          border: 1px solid #aaaeb3;
          border-radius: 8px;
          font-family: "SVN Gilroy";
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #454647;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .add-btn {
      border: none;
      background: none;
      img {
        min-width: 40px;
        min-height: 40px;
      }
      &:focus {
        border: none;
      }
    }
  }
  .item-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    .name {
      font-family: "SVN Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: clamp(10px, 2.73vw, 16px);
      line-height: 24px;
      color: #454647;
    }
    .unit {
      font-family: "SVN Gilroy";
      font-style: normal;
      font-weight: 500;
      font-size: clamp(14px, 2.73vw, 16px);
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #454647;
    }
    .input-box {
      max-width: 285px;
      display: flex;
      align-items: center;
    }
    .count-input {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      padding: 12px 14px;
      max-width: clamp(80px, 21.3vw, 120px);
      height: 48px;
      background: #ffffff;
      border: 1px solid #aaaeb3;
      border-radius: 8px;
      font-family: "SVN Gilroy";
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #454647;
      &:focus {
        outline: none;
      }
    }
    .delete-btn {
      background: none;
      border: none;
    }
  }
  .total-box {
    width: 100%;
    gap: 24px;
    max-width: 880px;
    height: 56px;
    border-top: 1px solid #e1e3e6;
    margin-top: 25px;
    .total {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .name {
        font-family: "SVN Gilroy";
        font-weight: 700;
        font-size: clamp(10px, 2.73vw, 16px);
        line-height: 24px;
        color: #2c2d2e;
      }
      .sum {
        font-family: "SVN Gilroy";
        font-weight: 700;
        font-size: clamp(16px, 4.27vw, 21px);
        line-height: 32px;
        color: #0979fd;
        margin-left: 37px;
      }
    }
  }
  .list-solution {
    width: 100%;
    margin-bottom: 40px;
    .name {
      font-family: "SVN Gilroy";
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #2c2d2e;
    }
    .list-item {
      width: 100%;
      margin: 0 auto;
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      .item-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 40px;
        gap: 24px;
        isolation: isolate;
        width: 253.33px;
        height: 160px;
        border: 2px solid #0979fd;
        border-radius: 16px;
        .description {
          font-family: "SVN Gilroy";
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #0979fd;
        }
        .cancel-icon {
          position: absolute;
          top: -16px;
          right: -16px;
          cursor: pointer;
        }
      }
      .plus-box {
        cursor: pointer;
        border: 2px solid #aaaeb3;
        .description {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #aaaeb3;
        }
      }
    }
  }
}

// popup
.solution-popup-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;

  .container {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper {
      width: clamp(355px, 100vw - 40px, 1180px);
      min-height: 440px;
      padding: 20px 0px;
      border-radius: 16px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 40px;
      background-color: white;
      .wrapper-title{
        display: block;
        text-transform: uppercase;
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 600;
        font-size: clamp(18px, 4vw, 21px);
        color: #454647;
      }
      .body {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;
        .bottom-content-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: clamp(125px, 33.3vw, 240px);
          height: clamp(125px, 33.3vw, 240px);
          position: relative;
          box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.23);
          border-radius: 16px;
          .solution-item-icon{
            position: absolute;
            display: none;
            height: clamp(20px, 5.4vw, 30px);
            width: clamp(20px, 5.4vw, 30px);
            top: calc(100% - clamp(20px, 5.4vw, 30px)/2);
            z-index: 3;
          }
          .solution-item-img {
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 100%;
            display: block;
            border-radius: 16px;
          }
          .solution-item-desc {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #ffffff;
            z-index: 2;
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 16px 16px;
            padding: 10px 12px;

            .desc-span {
              text-transform: uppercase;
              font-family: "SVN Gilroy";
              font-style: normal;
              font-weight: 600;
              font-size: clamp(14px, 3.73vw, 16px);
              color: #454647;
            }
            .desc-p{
              display: block;
              text-transform: uppercase;
              font-family: "SVN Gilroy";
              font-style: normal;
              font-weight: 600;
              font-size: clamp(14px, 3.73vw, 16px);
              color: #454647;
            }
          }
        }

        .bottom-content-container.active {
          box-shadow: 0px 0px 0px 5px #0979fd;
          position: relative;
          .solution-item-icon{
            display: block;
            position: absolute;
            height: clamp(20px, 5.4vw, 30px);
            width: clamp(20px, 5.4vw, 30px);
            top: calc(100% - clamp(20px, 5.4vw, 30px)/2);
            z-index: 3;
          }
        }

        // .bottom-content-container.active::after {
        //   z-index: 3;
        //   content: "";
        //   position: absolute;
        //   width: 37px;
        //   height: 37px;
        //   bottom: -18px;
        //   background-image: url("../../images/business-step1-v3/svg/icon-add.svg");
        // }
      }

      .popup-footer {
        flex: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .popup-advise-now-btn {
          min-width: 208px;
          min-height: 40px;
          background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
          border-radius: 68px;
          border: none;
          &:hover {
            box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
              0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          }

          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
//////////////////responsive
@media(max-width: 726px){
  .solution-popup-bg {
    .container {
      .wrapper {
        
        .body {
          .bottom-content-container {
            .solution-item-desc {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              background: #ffffff;
              z-index: 2;
              text-align: center;
              display: flex;
              flex-direction: column;
              border-radius: 0px 0px 16px 16px;
              padding: 10px 12px;
              .desc-span {
                text-transform: uppercase;
                font-family: "SVN Gilroy";
                font-style: normal;
                font-weight: 600;
                font-size: clamp(14px, 3.73vw, 16px);
                color: #454647;
              }
              .desc-p{
                display: none;
                text-transform: uppercase;
                font-family: "SVN Gilroy";
                font-style: normal;
                font-weight: 600;
                font-size: clamp(14px, 3.73vw, 16px);
                color: #454647;
              }
            }
          }
          .bottom-content-container.active {
            box-shadow: 0px 0px 0px 5px #0979fd;
            position: relative;
          }
        }
      }
    }
  }
}