h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.introduct-main {
  margin-top: 80px;
  margin-bottom: 56px;
  .background-image {
    margin: auto;
    max-width: 1440px;
    background-image: url("@images/solution/smart-home/background.svg");
  }
  .introduct-header-img {
    width: 100%;
    height: 100%;
  }
  .banner-wrap-v2 {
    background-image: url("@images/solution/smart-home/section.svg");
  }

  .margin-bottom {
    margin-bottom: 150px;
  }
  .introduct-header {
    max-width: 1440px;
    max-height: 649px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    .introduct-header-img {
      max-width: 1440px;
      max-height: 649px;
      width: 100%;
      height: 100%;
    }
    .introduct-section-header {
      height: 333px;
      max-width: 772px;
      max-height: 333px;

      margin-bottom: -10%;

      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: transparent;
      color: #ffffff;
      .section-header__title {
        position: relative;

        margin-top: 21px;
        margin-bottom: 12px;
        text-align: left;
        height: 120px;
        img {
          position: absolute;
          width: 770px;
          height: 53px;
          bottom: -17%;
        }
        h3 {
          position: absolute;
          font-weight: bold;
          line-height: 56px;
          letter-spacing: -1px;
          color: #f9f9f9;
          text-shadow: -2px -2px rgb(52, 24, 177);
          z-index: 1;
        }
      }

      .section-header__description {
        text-align: left;
        max-width: 100%;
        max-height: 192px;
        margin-top: 5%;
        width: 100%;
        height: 100%;
        top: 222px;

        p {
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }

      .section-header__title,
      .section-header__description {
        margin-left: 67px;
        margin-right: 96px;
      }
    }
  }
  .container-v2 {
    margin-top: 300px;
    .card-product-v2 {
      .product-v2-detail {
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  #section-introducts-slide {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;

    .section-slides__title {
      text-align: center;
      max-width: 539px;
      max-height: 80px;
      width: 100%;
      height: 100%;
      margin: auto;

      h3 {
        font-size: 36px;
        font-weight: bold;
      }
    }

    .section-slides__slide {
      margin-top: 54px;

      .slides-chill {
        max-width: 370px;
        max-height: 370px;
        width: 100%;
        height: 100%;

        .slides-cill_img {
          max-width: 370px;
          max-height: 240px;
          width: 100%;
          height: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }

        .slides-chill__body {
          background-color: #f2f2f2;
          padding-top: 18px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 52px;
          justify-content: space-between;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          .chill__body-left {
            > div {
              &:first-child {
                font-size: 16px;
                line-height: 24px;
                color: #858585;
              }

              &:last-child {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: -0.5px;
                text-transform: uppercase;
                color: #5c5c5c;
              }
            }
          }

          .chill__body-right {
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f47403;
            border-radius: 50%;
            margin-right: 32px;
            cursor: pointer;
            .btn-slides_chill {
              width: 20px;
            }
          }
        }
      }
    }
  }

  .introduct-section-content {
    margin-top: 54px;

    .section-content-wrap {
      position: relative;

      .content-wrap__left {
        max-width: 570px;
        max-height: 400px;
        width: 100%;
        height: 400px;

        img {
          width: 570px;
          height: auto;
        }
      }

      .content-wrap__right {
        position: absolute;
        top: 250px;
        left: 40%;
        max-width: 570px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(24px);
        border-radius: 16px;
        padding: 20px;
        z-index: 1;

        ul {
          list-style: "• ";
        }

        h4 {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.5px;
        }
        img {
          width: 15%;
          height: auto;
        }
      }

      .btn-research {
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .btn-research-wrap {
          background: #ffffff;
          border: 1px solid #f47403;
          box-sizing: border-box;
          border-radius: 16px;
          position: relative;
          width: fit-content;
          height: 48px;
          padding: 12px 6px 12px 13px;
          margin-top: 32px;
          margin-bottom: 64px;
          #btn-research-arrow {
            display: none;
          }

          &:hover {
            background-color: #f47403;

            span {
              color: #ffffff;
            }

            #btn-research-arrow {
              display: block;
            }

            #btn-research-arrow-F4 {
              display: none;
            }
          }

          span {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
          }

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .section-second {
    .introduct-section-content {
      .section-content-wrap {
        direction: rtl;

        .content-wrap__right {
          direction: initial;
          right: 40%;
          border-radius: 16px;
        }
      }
    }
  }

  .introduct-slides-product {
    margin-top: 54px;

    .slide-sols {
      margin-top: 35px;

      .card-sol-wrap {
        border-radius: 10px;

        .card-sol-header {
          border-radius: 10px;
        }
      }
    }

    .slides-product__title {
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #5c5c5c;
        &:hover {
          cursor: pointer;
          text-decoration-line: underline;
        }
      }
    }

    .product-title {
      width: 100%;
      height: 80px;
      text-align: center;
      margin-bottom: 32px;
      h4 {
        margin: auto;
        max-width: 600px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.5px;
      }
    }
  }

  .banner-slides {
    margin-top: 54px;
    margin-bottom: 54px;
    .carousel-indicators {
      bottom: 30px;
    }
  }

  .section-slide-product {
    .introduction-content3 {
      padding-top: 0;
      margin-left: 0;
      margin-right: 0;
      .col {
        padding: 0;
      }
    }
  }
}
