// COLORS
$primary-color: #02aab0;
$secondary-color: #fe8258;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

$blue-text:#104B82;

// FONT SIZE
$biggest-font-size:4.5rem;
$big-font-size: 4rem;
$large-font-size: 3.5rem;
$mid-font-size: 2.5rem;
$default-font-size: 1.6rem;

//font-weight
$bold-text:700;
$light-text:500;

.contentPage{
    .mx-18{
        margin-left: -18px;
        margin-right: -18px;
    }
    .bannerTop{
        margin-top: 100px;
    }
    .contentDetail{
        h1{
            text-align: center;
            width:70%;
            margin: 0 auto;
            font-weight: $bold-text;
            color: $blue-text;
            font-size: $large-font-size;
        }
        &>div:nth-child(2){
            padding: 20px 0;
            border-top: solid 1px #d3d3d3;
            border-bottom: solid 1px #d3d3d3;
            h5{
                font-weight: $bold-text;
                color: $blue-text;
            }
            text-align: justify;
            div{
                text-align: center;
                img{
                    width: 700px;
                    margin-bottom: 2rem;
                }
            }
        }
        .footerContent{
            display: flex;
            justify-content: end;
            align-items: center;
            height: 50px;
            span{
                margin-right: 20px;
                color: $blue-text;
            }
            .icon{
                font-weight: $bold-text;
                font-size: $default-font-size;
            }
            div{
                border: 1px solid $blue-text;
                color: $blue-text;
                padding: 5px 10px;
                position: relative;
                background-color: #E5F0FF;
                border-radius: 5px;
                &::after{
                    content: "";
                    position: absolute;
                    left: -11%;
                    top: 39%;
                    height: 7px;
                    width: 7px;
                    background: #E5F0FF;
                    transform: rotate(133deg);
                    border-bottom: inherit;
                    border-right: inherit;
                    box-shadow: inherit; 
                }
            }
        }
    }
}