.left-container {
  text-align: -webkit-center;
}

.technical-solution-pages {
  padding-top: 54px;
  padding-bottom: 54px;
}


.right-container {
  margin-right: 100%;
}

.technical-dropdown {
  body {
      overflow-x: visible !important;
  }

  .btn-primary {
      color: #fff;
      background-color: #F47403;
      border-color: #F47403;
      width: 100%;
      height: 48px;
      text-align: left;
      padding: 10px 20px;
      max-width: 370px;
  }

  .btn-primary:hover {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }

  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }

  .dropdown {
      width: 100%;
  }

  .dropdown-item {
      width: 370px;
  }

  .dropdown-item:hover {
      color: #fff;
      background-color: #F47403;
      border-color: #F47403;
      padding: 0;

  }

  .btn-primary.focus,
  .btn-primary:focus {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }

  .dropdown-toggle::after {
      display: none;
  }

  .dropdown-menu.show {
      display: block;
      box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
      border-radius: 10px;
      line-height: 3;
  }

  .technical-dropdown .dropdown-menu-right {
      right: 0;
      left: unset !important;
  }
}




//=================== organize dropdown ===========================//

.title-second {
  font-weight: bold;
  font-size: 32px;
  color: #5C5C5C;
  line-height: 48px;
  text-align: left;
}


.organize-dropdown {
  text-align: -webkit-right;

  .btn-light {
      width: 100%;
      text-align: right;
      font-weight: bold;
      color: #212529;
      background-color: white;
      border-color: #f8f9fa;

  }

  .btn-primary:hover {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }


  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }


  .dropdown-item:hover {
      color: #fff;
      background-color: #F47403;
      border-color: #F47403;
      padding: 0;

  }

  .dropdown-toggle::after {
      display: none;
  }

  .btn-primary.focus,
  .btn-primary:focus {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }

  .dropdown-menu.show {
      display: block;
      box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
      border-radius: 10px;
  }
}


//=================== table dropdown ===========================//

.btn-light:first-child {
  border-left: hidden;
  border-right: hidden;
}

.table-dropdown {
  padding: 2px;

  .btn-light {
      //width           : 100%;
      text-align: center;
      color: #212529;
      background-color: white;
      border-color: #f8f9fa;
      border-top: hidden;
      border-bottom: hidden;
  }

  .btn-primary:hover {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }


  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }


  .dropdown-item:hover {
      color: #fff;
      background-color: #F47403;
      border-color: #F47403;
      padding: 0;

  }

  .dropdown-toggle::after {
      display: none;
  }

  .btn-primary.focus,
  .btn-primary:focus {
      color: #fff;
      background-color: #e85d04;
      border-color: #e85d04;
  }

  .dropdown-menu.show {
      display: block;
      box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
      border-radius: 5px;
      width: 100%;
      border: none;

  }
}

.container-outside {
  border-radius: 10px;
  width: 100%;
  border: 1px solid #ced4da;
  max-width: 912px;
}

.container-belowDrop {

  .search-wrapper-supportpage {
      display: flex;
      align-items: center;
      border-radius: 10px;
      margin-top: 20px;

      input {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border-radius: 10px;
          padding: 13px 22px;

          &:focus-visible {
              outline-offset: 0;
              outline: none;
          }
      }

      .btn-search {
          margin-left: -75px;
          padding: 13px 23px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
              object-fit: cover;
          }
      }
  }

}


//=================== image slider ===========================//


.container-first-slider {
  width: 100%;
  // height       : 100%;
  margin-top: 25px;
  background: #F9F9F9;
  border: 1px solid #ADADAD;
  box-sizing: border-box;
  box-shadow: 0px 8px 8px rgba(38, 50, 56, 0.12), 0px 16px 24px rgba(38, 50, 56, 0.08);
  border-radius: 5px;
  max-width: 912px;
}

.support-slider {

  // margin-left: -15px;
  .slick-list {
      // height: 145vh !important;
      margin-left: 0 !important;
  }

  img {
      object-fit: cover;
      max-width: 211px;
      // height    : 120px;
      margin-top: 28px;
      left: 23px;
      width: 100%;
  }



  @media only screen and (max-width: 480px) {
      img {
          width: 375px;
      }

      text {
          font-size: 16px;
      }

      .row {
          display: block;
      }
  }

  @media only screen and (max-width: 1024px) {
      img {
          width: 400px;
      }

      text {
          font-size: 16px;
      }

      .row {
          display: block;
      }
  }
}

.container-below-image {
  margin-left: 0px;
  margin-top: -16px;
  font-size: 12px;
}

.col-9 {
  margin-top: 28px;
}

.description {
  color: #ADADAD;
  font-size: 14px;
  align-items: center;
}


// .slick-dots {
//     position: relative;
//     bottom: -25px;
//     display: block;
//     width: 100%;
//     padding: 0 !important;
//     list-style: none;
//     text-align: left !important;
//     margin: -11px !important;
//     margin-left: -39px !important;
//     display: flex !important;
// }


// .pagination {
//     margin: 15px auto;
//     display: flex;
//     list-style: none;
//     outline: none;
//   }
//   .pagination > .active > a{
//     background-color: #47ccde ;
//     border-color: #47ccde ;
//     color: #fff;
//   }
//   .pagination > li > a{
//     border: 1px solid #47ccde ;
//     padding: 5px 10px;
//     outline: none;
//     cursor: pointer;
//   }
//   .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
//     background-color: #47ccde ;
//     border-color: #47ccde;
//     outline: none ;
//   }
//   .pagination > li > a, .pagination > li > span{
//     color: #47ccde
//   }
//   .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
//     border-radius: unset
//   }

/*----*/
.tech-pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;

  .tech-pages-left {
      width: 370px;
      height: 304px;
      background: #F9F9F9;
      box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
      border-radius: 10px;

      .technical-option {
          .technical-option-wrap {
              text-align: left;

              .tech-option-item:nth-child(1) {
                  margin-top: 8px;
              }

              .tech-option-item {
                  color: #5C5C5C;
                  height: 48px;
                  padding: 12px 22px;
                  cursor: pointer;

                  &:hover {
                      background-color: #F47403;
                      color: #F9F9F9;
                  }
              }


          }
      }
  }

  .tech-option-active {
      background-color: #F47403;
      color: #F9F9F9 !important;
  }

  .tech-pages-rigt {
      width: 670px;
  }
}
