.support-pages {
    padding-top: 54px;
    padding-bottom: 72px;

    .slick-dots {
        bottom: -48px;
        text-align: left;
        color: #5C5C5C;

        li.slick-active {
            >div {
                background: #ADADAD;
                color: #e85d04;
            }
        }
    }
}


.technical-dropdown {
    width: 370px;
    height: 304px;
    display: flex;
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    border-radius: 10px;
    line-height: 2.5;
    padding: 8px 0px;
    text-align: left;

    .dropdown {
        width: 100%;
    }

    .dropdown-item:hover {
        color: #fff;
        background-color: #F47403;
        border-color: #F47403;
        padding: none;
    }

    .dropdown-item.focus,
    .dropdown-item:focus {
        color: #fff;
        background-color: #F47403;
        border-color: #F47403;
    }

    @media only screen and (max-width: 480px) {
        width: fit-content !important;
    }

    @media only screen and (max-width: 1024px) {
        width: fit-content !important;
        display: block;
        margin-top: 60px;
        margin-left: 40px;
    }

    @media only screen and (max-width: 768px) {
        width: fit-content !important;
        margin-top: 60px;
    }

}


//=================== organize dropdown ===========================//

.title-second {
    color: #5C5C5C;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;

    @media only screen and (max-width: 480px) {
        width: 100%;
        margin-top: 60px;
        margin-left: 40px;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
        margin-top: 60px;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top: 60px;
    }
}



.organize-dropdown {
    height: 56px;

    .dropdown-toggle {
        font-weight: bold;
    }

    .dropdown-toggle:after {
        display: none;
    }

    .btn-light {
        width: 100%;
        text-align: right;
        font-weight: bold;
        background-color: #ADADAD;
        border-color: #f8f9fa;
    }

    .dropdown-toggle:hover {
        color: #212529;
    }

    .dropdown-item:hover {
        color: #fff;
        background-color: #F47403;
        border-color: #F47403;
        padding: none;

    }

    .dropdown-item.focus,
    .dropdown-item:focus {
        color: #fff;
        background-color: #F47403;
        border-color: #F47403;
    }

    .dropdown-menu.show {
        display: block;
        box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
        border-radius: 10px;
    }

    @media only screen and (max-width: 480px) {
        width: 100%;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
    }
}


// //=================== table dropdown ===========================//

.btn-light:first-child {
    border-left: hidden;
    border-right: hidden;
}

.table-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    margin: 0 19px;

    .dropdown {
        .table-dropdown-first {
            img {
                border-right: 1px solid #ADADAD;
                font-weight: bold;
            }
        }
    }

    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: unset !important;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: unset !important;
        border: none !important;
    }

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #ADADAD !important;
        font-size: 16px;
        background-color: #f9f9f9f9 !important;
        border-color: unset !important;
        border: none !important;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: unset !important;
        color: #5C5C5C !important;
    }

    .dropdown {
        button {
            background-color: #f9f9f9 !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 13px 8px;
            border: none !important;
            color: #5c5c5c;

            img {
                padding: 8px 5px;
            }
        }
    }

    .btn {
        width: 210px !important;
        width: 100%;
        text-align: center;
        color: #5C5C5C;
        border-color: #f8f9fa;
        border-top: hidden;
        border-bottom: hidden;
        font-weight: 400;
    }

    .btn:hover {
        color: #5C5C5C;
    }

    .dropdown-item:hover {
        color: #fff;
        background-color: #F47403;
        border-color: #F47403;
        padding: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .btn.focus {
        color: #5C5C5C;
    }

    .dropdown-menu.show {
        display: block;
        box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
        border-radius: 10px;
    }

    .col-in-containerOutside {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    @media only screen and (max-width: 480px) {
        width: 100%;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
    }
}

.container-outside {
    width: 100%;
    max-width: 670px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    height: 100%;
}

.container-belowDrop {
    .search-wrapper-supportpage {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-top: 16px;
        margin-bottom: 23px;

        .form-control::placeholder {
            opacity: 1;
            color: #ADADAD;
        }

        input {
            height: 56px;
            position: relative;
            width: 100%;
            box-sizing: border-box;
            padding: 10px 29px;
            max-width: 670px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            background-color: #f9f9f9;

            &:focus-visible {
                outline-offset: 0;
                outline: none;
            }

            &:focus {
                box-shadow: unset !important;
            }

        }

        .btn-search {
            position: absolute;
            right: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: none;

            img {
                object-fit: cover;
            }
        }
    }
}

//=================== image slider ===========================//

.container-first-slider {
    width: 100%;
    height: 100% !important;
    margin-top: 25px;
    background: #F9F9F9;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 670px;

    .first-slider-wrap {
        display: flex;
        align-items: center;
        padding: 28px 23px;

        .first-slider-wrap__left {
            margin-right: 24px;
        }
    }

    @media only screen and (max-width: 480px) {
        width: 100%;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
        align-items: center;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0px 8px 8px rgb(38 50 56 / 12%), 0px 16px 24px rgb(38 50 56 / 8%);
        .first-slider-wrap__right{
            .text-title{
                color: #F47403;
            }
        }
    }
}

.support-slider {
    .image-container {
        width: 670px;
        height: 206px;
    }


    .image-example {
        object-fit: cover;
        width: 211px;
        height: 120px;
    }

    .text-description {
        color: #ADADAD;
        max-width: 389px;
        letter-spacing: 0.25px;
    }

    .container-below-image {
        margin-top: 8px;
        font-size: 12px;
    }

    @media only screen and (max-width: 480px) {
        img {
            width: 375px;
        }

        text {
            font-size: 16px;
        }

        .row {
            display: block;
        }
    }

    @media only screen and (max-width: 1024px) {
        img {
            width: 400px;
        }

        text {
            font-size: 16px;
        }

        .row {
            display: block;
        }
    }
}

/*------------------ support-page ---------------------*/
.support-pages {
    .support-page-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .support-page-left {
            align-self: stretch;
            margin-right: 130px;
        }

        .support-page-right {
            align-self: stretch;
            width: 100%;
            max-width: 670px;
        }


    }

    .no-result {
        font-style: italic;
        color: #5c5c5c;
        text-align: center;
    }
}

.is-active-item {
    background-color: #F47403;
    color: #FFFFFF;
}

.first-slider-wrap__right {
    margin-top: 25px;

    a {
        &:hover {
            text-decoration: none;
        }

        color: #5C5C5C;
    }

    .text-title {
        text-transform: capitalize;

        &:hover {
            color: #F47403;
        }
    }

    .text-date {
        margin: 4px 0;
    }

}
