// header section

.section-top-solution-package {
  margin-top: 90px;
  background-image: url("../../images/business-step1-v3/png/img-top-solution.png");
  background-size: cover;
  background-position: center;
  //   height: 100vh;
  min-height: 800px;
  .container {
  }
  .container-header {
    margin-top: max(13.958333333vw, 150px);
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
  .text-top-solution-1 {
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 72px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .text-top-solution-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
  }
  .text-top-solution-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 767px) {
  .section-top-solution-package {
    margin-top: 60px;
    background-image: url("../../images/business-step1-v3/png/img-mobile-top-solution.png");
    min-height: 560px;
    .container-header {
      margin-top: 58px;
    }
    .text-top-solution-1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }
    .text-top-solution-2 {
      font-weight: 700;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 8px !important;
    }
    .text-top-solution-3 {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }
}
.section-business-header-v3 {
  width: 100%;
  height: 800px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
  .container-v3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .container-header {
      max-width: 440px;
    }
    .business-header-title {
      font-weight: 800;
      font-size: 62px;
      line-height: 72px;
      letter-spacing: 1px;
    }
    .business-header-subtitle {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      padding-top: 8px;
    }
    .business-header-desc {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      padding-top: 40px;
    }
  }
}
@media (max-width: 768px) {
  .section-business-header-v3 {
    height: 428px !important;
    .img-building {
      display: none !important;
    }
    .img-building-mobile {
      display: block !important;
    }
    .container-header {
      text-align: center;
      margin: 0 auto;
      margin-top: -180px;
      .business-header-title {
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Light mode/Gray/White */

        color: #ffffff;
      }
      .business-header-subtitle {
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        /* identical to box height, or 152% */

        text-align: center;

        /* Light mode/Gray/White */

        color: #ffffff;
      }
      .business-header-desc {
        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;

        text-align: center;

        color: #ffffff;
      }
    }
  }
}

// package section
.business-step1-container {
  width: 100%;
  display: block;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e1e3e6;

  .business-step1-wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;

    .top-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 80px;

      .main-title {
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        color: #2c2d2e;
      }

      .sub-title {
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #454647;
      }
    }

    .bottom-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
      align-items: center;
      justify-content: center;

      .bottom-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 560px;
        max-height: 460px;
        position: relative;
        box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
        border-radius: 16px;
        .detail-button {
          display: none;
        }
        .solution-item-img {
          z-index: 1;
          width: 100%;
          height: 100%;
          max-width: 100%;
          display: block;
          border-radius: 16px;
        }
        .solution-item-desc {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          min-height: 72px;
          background: #ffffff;
          z-index: 2;
          text-align: center;
          display: flex;
          flex-direction: column;
          border-radius: 0px 0px 16px 16px;

          span {
            margin: 24px auto;
            text-transform: uppercase;
            font-family: "SVN Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #454647;
          }
        }
      }

      .bottom-content-container.active {
        box-shadow: 0px 0px 0px 5px #0979fd;
        position: relative;
        .solution-item-desc {
          span {
            color: #0979fd;
          }
        }
        .detail-button{
          z-index: 3;
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px;
          width: 134px;
          height: 42px;
          top: calc(100% - 21px);
          background: #0979FD;
          border-radius: 99px;
          font-family: 'SVN-Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: white;
        }
      }
    }

    .advise-now-btn {
      min-width: 208px;
      min-height: 40px;
      background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
      border-radius: 68px;
      border: none;
      &:hover {
        box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
          0px 8px 8px -4px rgba(24, 39, 75, 0.08);
      }

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }

    .advise-now-btn:disabled {
      background: #aaaeb3;
    }
  }
}

@media (max-width: 750px) {
  .business-step1-container {
    width: 100%;
    display: block;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e1e3e6;

    .business-step1-wrapper {
      max-width: 1180px;
      width: 100%;
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 32px;

      .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 80px;
        padding-left: 20px;
        padding-right: 20px;
        .main-title {
          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 32px;
          /* identical to box height, or 152% */

          text-align: center;

          /* Light mode/Gray/gray_800 */

          color: #2c2d2e;
        }

        .sub-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #454647;
        }
      }

      .bottom-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding: 0px 20px; //

        .bottom-content-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 560px;
          max-height: 460px;
          position: relative;
          box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
          border-radius: 16px;

          .solution-item-img {
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 100%;
            display: block;
            border-radius: 16px;
          }

          .solution-item-desc {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 72px;
            background: #ffffff;
            z-index: 2;
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 16px 16px;

            span {
              margin: 24px auto;
              text-transform: uppercase;
              font-family: "SVN Gilroy";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #454647;
            }
          }
        }

        .bottom-content-container.active {
          box-shadow: 0px 0px 0px 5px #0979fd;
          position: relative;
        }

        .bottom-content-container.active::after {
          z-index: 3;
          content: "Chi Tiáº¿t";
          position: absolute;
          width: 37px;
          height: 37px;
          bottom: -18px;
          background-color: #0979fd;
        }
      }

      .advise-now-btn {
        min-width: 208px;
        min-height: 40px;
        background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
        border-radius: 68px;
        border: none;
        &:hover {
          box-shadow: 0px 9px 6px -4px rgba(44, 207, 215, 0.2),
            0px 8px 8px -4px rgba(24, 39, 75, 0.08);
        }

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }

      .advise-now-btn:disabled {
        background: #aaaeb3;
      }
    }
  }
}
