h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.introduct-main {
  margin-bottom: 96px;

  img {
    width: 100%;
    height: 100%;
  }

  .introduct-header {
    max-width: 1440px;
    max-height: 649px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    .introduct-header-img {
      max-width: 1440px;
      max-height: 649px;
      width: 100%;
      height: 100%;
    }
    .introduct-section-header {
      position: absolute;
      bottom: -51px;
      left: 68px;
      background-color: #1a7dd8;
      max-width: 737px;
      max-height: 310px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      color: #ffffff;

      .section-header__title {
        margin-top: 21px;
        margin-bottom: 12px;
        text-align: left;

        h3 {
          font-size: 48px;
          font-weight: bold;
          line-height: 56px;
          letter-spacing: -1px;
          color: #f9f9f9;
        }
      }

      .section-header__description {
        text-align: left;
        max-width: 570px;
        max-height: 192px;
        width: 100%;
        height: 100%;
        padding-bottom: 37px;
        p {
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }

      .section-header__title,
      .section-header__description {
        margin-left: 67px;
        margin-right: 96px;
      }
    }
  }

  #section-introducts-slide {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;

    .section-slides__title {
      text-align: center;
      max-width: 539px;
      max-height: 80px;
      width: 100%;
      height: 100%;
      margin: auto;

      h3 {
        font-size: 36px;
        font-weight: bold;
      }
    }

    .section-slides__slide {
      margin-top: 54px;

      .slides-chill {
        max-width: 370px;
        max-height: 370px;
        width: 100%;
        height: 100%;

        .slides-cill_img {
          max-width: 370px;
          max-height: 240px;
          width: 100%;
          height: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }

        .slides-chill__body {
          background-color: #f2f2f2;
          padding-top: 18px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 52px;
          justify-content: space-between;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          .chill__body-left {
            > div {
              &:first-child {
                font-size: 16px;
                line-height: 24px;
                color: #858585;
              }

              &:last-child {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: -0.5px;
                text-transform: uppercase;
                color: #5c5c5c;
                text-align: center;
              }
            }
          }

          .chill__body-right {
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f47403;
            border-radius: 50%;
            margin-right: 32px;
            cursor: pointer;
            .btn-slides_chill {
              width: 20px;
            }
          }
        }
      }
    }
  }

  .introduct-section-content {
    margin-top: 54px;

    // &:hover {
    //   background: #f9f9f9;
    //   box-shadow: 0px 12px 12px rgba(28, 65, 84, 0.1),
    //     0px 24px 24px rgba(28, 65, 84, 0.05),
    //     0px 64px 64px rgba(28, 65, 84, 0.04);
    //   border-radius: 10px 10px 0px 10px;
    // }

    .section-content-wrap {
      column-gap: 30px;

      .content-wrap__left {
        max-width: 670px;
        max-height: 400px;
        width: 100%;
        height: 400px;
      }

      .content-wrap__right {
        max-width: 470px;
        width: 100%;
        color: #5c5c5c;
        ul {
          list-style: "• ";
        }

        h4 {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.5px;
          max-width: 360px;
          margin-bottom: 8px;
        }
      }

      .btn-research {
        a {
          :hover {
            text-decoration: none;
          }
        }
        .btn-research-wrap {
          background: #ffffff;
          border: 1px solid #f47403;
          box-sizing: border-box;
          border-radius: 16px;
          position: relative;
          width: fit-content;
          height: 48px;
          padding: 12px 6px 12px 13px;
          margin-top: 32px;
          margin-bottom: 64px;
          #btn-research-arrow {
            display: none;
          }

          &:hover {
            background-color: #f47403;

            span {
              color: #ffffff;
            }

            #btn-research-arrow {
              display: block;
            }

            #btn-research-arrow-F4 {
              display: none;
            }
          }

          span {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #f47403;
          }

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .section-second {
    .introduct-section-content {
      .section-content-wrap {
        direction: rtl;
        .content-wrap__right {
          direction: initial;
        }
      }
    }
  }

  .introduct-slides-product {
    margin-top: 54px;
    .slide-sols {
      margin-top: 35px;
      .card-sol-wrap {
        border-radius: 10px;
        .card-sol-header {
          border-radius: 10px;
        }
      }
    }

    .slides-product__title {
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #5c5c5c;
        &:hover {
          cursor: pointer;
          text-decoration-line: underline;
        }
      }
    }

    .product-title {
      width: 100%;
      height: 80px;
      text-align: center;
      margin-bottom: 32px;
      h4 {
        margin: auto;
        max-width: 470px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.5px;
      }
    }
  }

  .banner-slides {
    margin-top: 54px;
    margin-bottom: 54px;
    .carousel-indicators {
      bottom: 30px;
    }
  }

  .section-slide-product {
    .introduction-content3 {
      padding-top: 0;
      margin-left: 0;
      margin-right: 0;
      .col {
        padding: 0;
      }
    }
  }
}

@media (min-width: 1440px) {
  .introduct-main,
  .solution-main {
    .introduct-header,
    .solution-header {
      min-height: 649px;
    }
  }
}
@media (max-width: 1024px) {
  .introduct-main {
    .introduct-header {
      .introduct-section-header {
        max-width: 560px;
        bottom: -60px;
        max-height: 275px;
        .section-header__title {
          margin-left: unset;
          margin-right: unset;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 5px;
          h3 {
            font-size: 32px;
            line-height: 36px;
          }
        }
        .section-header__description {
          margin-left: unset;
          margin-right: unset;
          padding: 0 20px 15px 20px;
          text-align: justify;
          p {
            font-size: 14px;
          }
        }
      }
    }
    #section-introducts-slide .section-slides__slide .slides-chill {
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 576px) {
  .introduct-main {
    .introduct-section-content {
      .row {
        flex-wrap: unset;
      }
      .section-content-wrap {
        column-gap: 18px;
        .content-wrap__left {
          max-width: 480px;
          max-height: 320px !important;
          img {
            max-width: 480px;
            max-height: 320px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .introduct-main {
    h3 {
      font-size: 24px !important;
      line-height: 26px !important;
    }
    h4 {
      font-size: 18px !important;
      line-height: 24px !important;
    }
    .introduct-header {
      .introduct-section-header {
        max-width: 480px;
        max-height: unset;
        height: fit-content;
        overflow: hidden;
        .section-header__title {
          h3 {
            font-size: 24px;
            line-height: 26px;
          }
        }
        .section-header__description {
          p {
            font-size: 10px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
    #section-introducts-slide {
      .section-slides__slide {
        .slides-chill {
          padding: 0 10px;
          .slides-chill__body {
            padding-left: unset;
            padding-right: unset;
            padding-top: unset;
            padding-bottom: unset;
            padding: 12px 16px;
            .chill__body-left > div:last-child {
              font-size: 18px;
              letter-spacing: 1px;
              line-height: 26px;
            }
            .chill__body-left > div:first-child {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .introduct-section-content {
      .section-content-wrap {
        .content-wrap__right {
          font-size: 12px;
          h4 {
            margin-bottom: 12px;
          }
        }
        .btn-research {
          .btn-research-wrap {
            margin-top: 24px;
            padding: 6px 12px;
            span {
              font-size: 12px;
            }
            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
    .introduct-slides-product {
      .product-title {
        height: fit-content;
        text-align: center;
        margin-bottom: 24px;
      }
      .slides-product__title {
        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  .section-horizontal-slide {
    .card-title-header__title {
      font-size: 18px !important;
    }
  }
  .article-wrap-container {
    .article-wrap-right {
      padding: 12px 16px;
      .article-header-bottom {
        margin: 9px 0;
        padding: 9px;
        font-size: 24px;
        line-height: 28px;
      }
      .article-desctiption-bottom {
        font-size: 12px;
      }
    }
    .article-wrap-container {
      margin-top: 35px;
    }
  }
}

@media (max-width: 576px) {
  .introduct-main {
    .introduct-header {
      .introduct-header-img {
        box-shadow: 0px 2px 6px #b5b5b5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        img {
          height: 385px;
          object-fit: cover;
        }
      }
      .introduct-section-header {
        bottom: -20%;
        right: 0;
        left: 0;
        margin: auto;
        max-width: calc(100% - 100px);
        .section-header__title {
          margin-top: 0;
          padding-top: 15px;
        }
      }
      .smart-energy-header {
        bottom: -12% !important;
        .section-header__description {
          text-align: center;
        }
      }
    }
    #section-introducts-slide {
      margin-top: 155px;
      .section-slides__title {
        max-width: 65%;
        h3 {
          letter-spacing: -0.5px;
        }
      }
      .section-slides__slide {
        .slides-chill {
          .slides-chill__body {
            .chill__body-left > div:last-child {
              font-size: 12px;
            }
            .chill__body-left > div:last-child {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .introduct-section-content {
      .section-content-wrap {
        display: block;
        .content-wrap__right {
          margin-top: 9px;
        }
      }
    }
    .introduct-slides-product {
      .product-title {
        margin-bottom: 16px;
        max-width: 51%;
        margin-left: auto;
        margin-right: auto;
      }
      .slides-product__title {
        span {
          font-size: 12px;
          line-height: 16px;
        }
      }
      .slides-product__content {
        .slide-sols {
          margin-top: 16px;
        }
      }
    }
    .card-title-header {
      display: block !important;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .article-wrap-container {
    display: block;
    .article-wrap-left {
      img {
        height: 385px;
        border-bottom-left-radius: unset !important;
        border-top-right-radius: 10px;
      }
    }
    .article-wrap-right {
      border-bottom-left-radius: 10px;
      border-top-right-radius: unset;
    }
  }
  .banner-slides {
    ol.carousel-indicators li,
    ol.carousel-indicators li.active,
    .carousel-indicators li {
      width: 8px;
      height: 8px;
    }
    .carousel-indicators {
      bottom: 15px;
      right: 15px;
      gap: 5px;
    }
  }
}

@media only screen and (max-width: 426px) {
  .introduct-main {
    .introduct-section-content {
      .section-content-wrap {
        .content-wrap__left {
          max-height: unset;
          height: fit-content;
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
    .introduct-slides-product {
      .product-title {
        max-width: 100%;
      }
    }
    .introduct-header {
      .introduct-section-header {
        height: fit-content;
        max-height: fit-content;
        .section-header__title {
          padding-top: 15px;
          margin-bottom: 4px;
        }
        .section-header__description {
          width: 100%;
          height: fit-content;
          max-width: 570px;
          max-height: fit-content;
          padding-bottom: 37px;
        }
      }
    }
    #section-introducts-slide {
      .section-slides__title {
        max-width: 100%;
      }
      .section-slides__slide .slides-chill {
        img {
          border-radius: unset;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .banner-slides {
    .slide-img {
      img {
        width: 100%;
        height: 175px;
        object-fit: cover;
      }
    }
  }
}
