.introduction-page {
    padding-bottom: 95px;

    .image-top-header {
        max-width: 1903px;
        width: 100%;
    }

    .Top-header-container {
        margin-top: 58px;
        max-width: 770px;
        height: 279px;

        .Top-header-title {
            color: #1a7dd8;
            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
            font-weight: bold;
            align-items: center;
            text-align: center;
            letter-spacing: -1px;
            font-family: Arial;
            margin: 0px;
        }

        .Smart-living {
            color: #1a7dd8;
            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
            font-weight: bold;
            font-size: 96px;
            letter-spacing: -3px;
            line-height: 104px;
            align-items: center;
            text-align: center;
        }

        .Top-header-description {
            margin-top: 24px;
            max-width: 502px;
            align-items: center;
            text-align: center;
            color: #3f3f3f;
            line-height: 24px;
            margin-left: 97px;
        }
    }
}

.button-more-info1 {
    .btn-about-prod {
        position: absolute;
        margin-top: 32px;
        width: 100%;
        max-width: 211px;
    }
}

.article-header {
    color: #1a7dd8;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
}

.article-header-third {
    color: #1a7dd8;
    font-weight: bold;
    max-width: 470px;
    width: 100%;
    letter-spacing: -1px;
}

.article-description-third {
    max-width: 470px;
    width: 100%;
    color: #5c5c5c;
    line-height: 24px;
    margin-top: 8px;
}
.introduction-page {
    .article-wrap-container {
        gap: 30px;
    }
}

.introduction-content2 {
    padding-top: 62px;
    margin-left: 135px;
    margin-right: 103px;
    .article-wrap-left {
        max-width: 670px;
        max-height: 400px;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}
.introduction-content3 .image2 {
    max-width: 670px;
    max-height: 400px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.image3 {
    max-width: 670px;
    max-height: 400px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.image4 {
    max-width: 670px;
    max-height: 400px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.image5 {
    max-width: 670px;
    max-height: 400px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.article-wrap-right {
    max-width: 570px;
    border-radius: 0px 10px 10px 0px;
}

.introduction-content3 {
    padding-top: 62px;
    margin-left: 135px;
    margin-right: 103px;

    .article-wrap-right {
        background-color: #004ba1;
        padding: 6px 16px 24px 32px;
    }

    .article-header-bottom {
        color: #f6ecd8;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        margin: 24px 0px;
        max-width: 406px;
        width: 100%;
        border-bottom: solid 1px #f6ecd8;
        padding-bottom: 26.67px;
    }

    .article-title-bottom {
        color: #f6ecd8;
        font-weight: bold;
        margin: 0px;
    }

    .article-desctiption-bottom {
        color: #f6ecd8;
        max-width: 406px;
        width: 100%;
    }

    // .image6 {
    //     max-width    : 1170px;
    //     max-height   : 497px;
    //     border-radius: 10px;
    //     height       : 100%;
    //     position     : absolute;
    // }

    .project {
        color: #1a7dd8;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        margin: 10px 0px;
    }

    .seeMore {
        display: flex;
        margin-top: 28px !important;
        flex-direction: row;
        justify-content: flex-end;
        padding: 4px;
        color: #1a7dd8;
        font-weight: bold;
        font-size: 16px;
        margin: 0px 10px;
        letter-spacing: 0.2px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .article-wrap-container {
        margin-top: 32px;
    }
}
.btn-research {
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
    .btn-research-wrap {
        background: #ffffff;
        border: 1px solid #f47403;
        box-sizing: border-box;
        border-radius: 16px;
        position: relative;
        width: fit-content;
        height: 48px;
        padding: 12px 6px 12px 13px;
        margin-top: 32px;
        margin-bottom: 64px;
        #btn-research-arrow {
            display: none;
        }

        &:hover {
            background-color: #f47403;

            span {
                color: #ffffff;
            }

            #btn-research-arrow {
                display: block;
            }

            #btn-research-arrow-F4 {
                display: none;
            }
        }

        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #f47403;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }
}
.introduction-page {
    .section-outstanding-project {
        gap: 0 !important;
    }
}
@media (max-width: 1024px) {
    .introduction-page {
        .section-introduction__article {
            max-width: 970px;
            .introduction-content2 {
                margin-left: 0;
                margin-right: 0;
                padding-top: 24px;
            }
        }
        .article-wrap-container {
            gap: 15px;
        }
        .btn-research {
            .btn-research-wrap {
                margin-top: 18px;
                margin-bottom: 18px;
            }
        }
        .article-wrap-right {
            img {
                max-width: 552px;
                max-height: 385px;
            }
        }
    }
}
@media (max-width: 1024px) and (min-width: 769px) {
    .introduction-page {
        .article-wrap-container {
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .introduction-page .article-wrap-container {
        padding: 0 50px !important;
    }
}
@media screen and (max-width: 768px) {
    .introduction-page {
        .section-introduction__article {
            padding-top: 18px;
            .introduction-content2 {
                padding-top: 0;
            }
        }
        .Top-header-container {
            height: fit-content;
            .Smart-living {
                line-height: 77px;
                font-size: 66px;
                margin-bottom: 0;
            }
            .Top-header-description {
                margin: 18px auto 24px auto;
            }
            .section-introduction__article {
                max-width: 700px;
            }
        }

        .section-introdution-parking,
        .article-wrapper-energy {
            .article-wrap-right {
                grid-row-end: none;
                max-width: 100%;
                padding: 0;
            }
        }
        .article-wrap-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 0 20px;
            .article-wrap-left {
                max-width: 100%;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
            .article-wrap-left-third {
                max-width: 100%;
            }
        }
        .article-wrap-right {
            img {
                max-width: 100%;
            }
        }
        .article-wrap-container .article-wrap-right {
            padding: 0;
        }
        .section-outstanding {
            .section-introduction__article {
                padding-top: 0;
            }
            .section-outstanding-project {
                max-width: 570px;
                margin-top: 18px;
            }
            .introduction-content3 {
                padding-top: 24px;
                width: fit-content;
                margin: auto;
                .project {
                    margin: 0;
                }
            }
            .article-wrap-left {
                max-width: 570px;
                img {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 0;
                }
            }
            .article-wrap-right {
                border-radius: unset;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                > div {
                    padding: 0 20px 15px 20px;
                }
            }
        }
    }
    .article-header-third,
    .article-header {
        line-height: 36px;
    }
    .article-description {
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 475px) {
    .introduction-page {
        .article-wrap-right img {
            max-height: 285px;
        }
        .article-wrap-container {
            .article-wrap-left {
                img {
                    max-height: 285px;
                }
            }
        }
        .Top-header-container {
            margin-top: 24px;
            .Top-header-title {
                font-size: 24px;
            }
            .Smart-living {
                font-size: 48px;
                line-height: 56px;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .introduction-page {
        .article-wrap-right img {
            max-height: 285px;
        }
        .article-wrap-container {
            .article-wrap-left {
                img {
                    max-height: 285px;
                }
            }
        }
        .Top-header-container {
            margin-top: 24px;
            .Top-header-title {
                font-size: 16px;
            }
            .Smart-living {
                font-size: 32px;
                line-height: 46px;
            }
        }
    }
}
