@import "~bootstrap/scss/bootstrap";
@import "./layout/font-style.scss";
@import "./layout/core.scss";
@import "~leaflet/dist/leaflet.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html,
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: #ad020200;
  scroll-behavior: smooth;
}
